---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<div class="sidebar-card metadata-card">
    <div class="sidebar-card-header">
        <span class="header-title">{title}</span>
    </div>
    <div class="sidebar-card-body">
        <slot />
    </div>
</div>

<style>
    .metadata-card {
        margin-bottom: 20px;
    }
</style>
